@model prj41143264HW2.Models.a41143264User

@{
    ViewBag.Title = "Lobby";
}

<h2>Lobby</h2>

<a href="~/Views/Home/Lobby.cshtml">註冊</a>
<a href="~/Views/Home/Lobby.cshtml">登入</a>
<a href="~/Views/Home/Lobby.cshtml">管理者</a>
