@model IEnumerable<prj41143264BS.Models.Product>

@{
    ViewBag.Title = "學號:41143264***首頁";
}

<h2>學號:41143264-暢銷好書</h2>

<div class="row">
    @foreach (var item in Model)
    {
        string imgName = item.Id + ".jpg";
        <div class="col-12 col-md-4" style="margin-top:10px;">
            <div class="img-thumbnail">
                <img src="~/Images/@imgName" class="img-responsive" />
                <h4>@item.Name</h4>
                <p>NT：@item.Price 元</p>
                <p><a href="http://books.gotop.com.tw/v_@item.Id" class="btn btn-info" target="_blank">更多資訊</a></p>
            </div>
        </div>
    }
</div>